@using d20TG.Features.Scenarios.State
@using d20TG.Features.Scenarios.Model

@if (DefenderBuilds != null)
{
    <div class="flex flex-row gap-2 overflow-x-auto snap-x">
        @foreach (var build in DefenderBuilds)
        {
            <div class="snap-center flex-shrink-0">
                @if (build.Id == Scenario.FirstDefenderId)
                {
                    <DefenderBuildCard ScenarioId="@ScenarioId" 
                                       DefenderBuild="@build" />
                }
                else
                {
                    <DefenderBuildCard ScenarioId="@ScenarioId" 
                                       DefenderBuild="@build" 
                                       OnDeleteClickCallback="@OnDefenderDeleteClickCallback"/>
                }
            </div>
        }
    </div>
}

@code {

    [Parameter, EditorRequired]
    public string ScenarioId { get; set; } = null!;
    
    [Parameter, EditorRequired]
    public DefenderBuildState[]? DefenderBuilds { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string> OnDefenderDeleteClickCallback { get; set; }
}

