@using d20TG.Features.Scenarios.State
@using System.Linq.Expressions
@using d20TG.Features.Scenarios.Model
@inject IMyNavigationManager MyNavigation

<div class="max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow">
    <div class="mb-2">
        <span>
            <svg class="w-6 h-6 text-gray-800 inline"
                 style="color: @DefenderBuild.ColorHex"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 18">
                <path d="M8 18A18.55 18.55 0 0 1 0 3l8-3 8 3a18.549 18.549 0 0 1-8 15Z"/>
            </svg>
            @DefenderBuild.Label
        </span>
    </div>
    <div class="grid gap-1 mb-2 md:grid-cols-2">
        <div>
            <h6 class="text-sm text-gray-500">Hit Points</h6>
            <p class="text-5xl font-semibold">@DefenderBuild.HitPoints</p>
        </div>
        <div>
            <h6 class="text-sm text-gray-500">Armor Class</h6>
            <p class="text-5xl font-semibold">@DefenderBuild.ArmorClass</p>
        </div>
    </div>
    <div class="flex flex-row-reverse">
        <button @onclick="HandleEditClick"
                class="text-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm p-2.5 text-center inline-flex items-center rounded-lg ml-2">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279"/>
            </svg>
            <span class="sr-only">Edit icon</span>
        </button>
        @if (OnDeleteClickCallback.HasDelegate)
        {
            <button @onclick="@(async () => await OnDeleteClickCallback.InvokeAsync(DefenderBuild.Id))"
                    class="text-red-700 hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm p-2.5 text-center inline-flex items-center rounded-lg">
                <i>
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                    </svg>
                </i>
            </button>
        }
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public string ScenarioId { get; set; } = null!;

    [Parameter, EditorRequired]
    public DefenderBuildState DefenderBuild { get; set; }

    [Parameter]
    public EventCallback<string> OnDeleteClickCallback { get; set; }

    private void HandleEditClick()
    {
        MyNavigation.NavigateToDefender(ScenarioId, DefenderBuild.Id);
    }

}