@using d20TG.Features.Simulations.Model

<div>
    @foreach (var round in SimulationRun.Rounds)
    {
        <h6 class="text-lg">Round @(round.RoundNumber + 1)</h6>
        <ul>
            @foreach (var turn in round.Turns)
            {
                <li>
                    <span class="font-medium" style="color: @turn.Attacker.Build.ColorHex">@turn.Attacker.Build.Label</span>
                    <Tooltip Text="@turn.Attack"><span class="font-bold">@(turn.IsHit ? "hits" : "misses")</span></Tooltip>
                    <span class="font-medium" style="color: @turn.Defender.Build.ColorHex">@turn.Defender.Build.Label</span>
                    @if (turn.IsHit)
                    {
                        <span> for </span>
                        <Tooltip Text="@turn.Damage"><span class="font-bold">@turn.DamageDealt</span></Tooltip>
                        <span> damage </span>
                    }
                </li>
            }
        </ul>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public SimulationRun SimulationRun { get; set; } = null!;

}